<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>
      NASA
    </title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="../css/index.css" media="screen" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <audio autoplay="false">
      <source src="../audio/地尽头.mp3" type="audio/mp3">
      </source>
    </audio>
    <div class="header">
      <div class="header_logo">
        <a href="">
          <img src="../images/nasa-logo.svg"/>
        </a>
      </div>
      <div class="share">
        <a href="">
          <img src="../images/share.svg"/>
        </a>
      </div>
      <div class="search">
        <input name="search" placeholder="Search" type="search"/>
        <div class="search_btn">
          <button type="button">
            <img src="../images/search.svg"/>
          </button>
        </div>
      </div>
      <div class="navigator">
        <div class="navi_main">
          <ul>
            <li>
              <a href="">
                Missions
              </a>
            </li>
            <li>
              <a href="">
                Galleries
              </a>
            </li>
            <li>
              <a href="">
                NASA TV
              </a>
            </li>
            <li>
              <a href="">
                Follow NASA
              </a>
            </li>
            <li>
              <a href="">
                Downloads
              </a>
            </li>
            <li>
              <a href="">
                About
              </a>
            </li>
            <li>
              <a href="">
                NASA Audiences
              </a>
            </li>
          </ul>
        </div>
        <div class="navi_sub">
          <ul>
            <li>
              <a href="">
                Human in Space
              </a>
            </li>
            <li>
              <a href="">
                Moon to Mars
              </a>
            </li>
            <li>
              <a href="">
                Earth
              </a>
            </li>
            <li>
              <a href="">
                Space Tech
              </a>
            </li>
            <li>
              <a href="">
                Flight
              </a>
            </li>
            <li>
              <a href="">
                Solar System and Beyond
              </a>
            </li>
            <li>
              <a href="">
                Education
              </a>
            </li>
            <li>
              <a href="">
                History
              </a>
            </li>
            <li>
              <a href="">
                Benefits to You
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="row2_col2">
        <img src="../images/dawn.jpg"/>
        <div class="content_bot">
          <div class="tag">
            Dawn
          </div>
          <div class="abstract">
            Dusk of Dawn:Mission of Many First to Gather More Data in Home Stretch
          </div>
        </div>
      </div>
      <div class="row1_col1">
        <img src="../images/climate.jpg"/>
        <div class="content_bot">
          <div class="tag">
            Climate
          </div>
          <div class="abstract">
            A Scientist's Final Paper Looks Toward Earth's Future Climate
          </div>
        </div>
      </div>
      <div class="row1_col1 nasa_events">
        <div class="events_top">
          NASA Events
        </div>
        <p class="events_content">
          Callint All Social Media Users!Apply to Experience the Launch of NASA's ICESat-2
        </p>
        <p class="events_content">
          No Earlier Than Saturday,Aug.4,4 a.m.EDT:Launch of Parker Solar Probe from Cape Canaveral Air Force Station in Florida
        </p>
        <div class="events_bot">
          <p class="left">
            NASA TV Schedule
          </p>
          <p class="right">
            Launches and Landings
          </p>
        </div>
      </div>
      <div class="row1_col2">
        <img src="../images/apolo.jpg"/>
        <div class="content_bot">
          <div class="abstract">
            July 16,1969:Liftoff of Apollo 11
          </div>
        </div>
      </div>
      <div class="row1_col1">
        <img src="../images/a_merger_of_stars.jpg"/>
        <div class="content_bot">
          <div class="tag">
            Image of the Day
          </div>
          <div class="abstract">
            A Merger of Stars
          </div>
        </div>
      </div>
      <div class="row1_col2">
        <img src="../images/asteroid.gif"/>
        <div class="content_bot">
          <div class="tag">
            Asteroid
          </div>
          <div class="abstract">
            Observatories Team Up to Reveal Rare Double Asteroid
          </div>
        </div>
      </div>
      <div class="row1_col1">
        <video class="video" controls="true">
          <source src="../video/ONE.mp4" type="video/mp4">
          </source>
        </video>
      </div>
      <div class="row1_col1">
        <img src="../images/nasa_logo.png"/>
        <div class="content_bot">
          <div class="tag">
            About NASA
          </div>
          <div class="abstract">
            NASA Statement on Nomination for Agency Deputy Administrator
          </div>
        </div>
      </div>
      <div class="row1_col1">
        <img src="../images/volcano_on_jupiter_moon.gif"/>
        <div class="content_bot">
          <div class="tag">
            Juno
          </div>
          <div class="abstract">
            NASA Juno Data Indicate Another Possible Volcano on Jupiter Moon to
          </div>
        </div>
      </div>
      <div class="row1_col1">
        <img src="../images/cassini.jpg"/>
        <div class="content_bot">
          <div class="tag">
            Cassini
          </div>
          <div class="abstract">
            NASA's Cassini Coverage Lands an Emmy Nomination
          </div>
        </div>
      </div>
      <div class="row1_col1">
        <img src="../images/fermiicecube.jpg"/>
        <div class="content_bot">
          <div class="tag">
            Fermi Space Telescope
          </div>
          <div class="abstract">
            NASA's Fermi Traces Source of Cosmic Neutrino to Monster Black Hole
          </div>
        </div>
      </div>
      <div class="extend_btn">
        <button>
          More Stories
        </button>
      </div>
    </div>
    <div class="footer">
      <div class="footer_logo">
        <img src="../images/nasa-logo.svg"/>
      </div>
      <div class="footer_statement">
        <p>
          National Aeronautics and Space Administration
          <br/>
          NASA Official: Brian Dunbar
        </p>
      </div>
      <div class="footer_links">
        <ul>
          <li>
            <a href="">
              No Fear Act
            </a>
          </li>
          <li>
            <a href="">
              FOIA
            </a>
          </li>
          <li>
            <a href="">
              Privacy
            </a>
          </li>
          <li>
            <a href="">
              Office of Inspector General
            </a>
          </li>
          <li>
            <a href="">
              Office of Spacial Counsel
            </a>
          </li>
          <li>
            <a href="">
              Agency Financial Reports
            </a>
          </li>
          <li>
            <a href="">
              Contact NASA
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>