body {
  background-color: black;
  width: 95%;
  margin: auto;
}
.header {
  background: url('../images/starfield-banner.jpg ');
  position: fixed;
  width: 95%;
  z-index: 1;
}
.header .logo-link {
  padding: 10px;
}
.header .logo {
  float: left;
  width: 110px;
  margin: 11px;
}
.header .share {
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
.header .search {
  height: 50px;
  float: right;
  background: gray;
  margin-top: 20px;
}
.header .search button {
  width: 50px;
  height: 50px;
  background-color: #333333;
  border: 0px;
}
.header .search .search_btn {
  width: 50px;
  height: 50px;
  float: right;
}
.header .search input {
  height: 50px;
  width: 100px;
  background: #333333;
  border: 0px;
  padding-left: 10px;
  color: #fff;
}
.header .search input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
.main {
  position: relative;
  top: 134px;
  /*    display: flex;
    flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr) 60px;
  grid-gap: 5px 10px;
}
.main .row2_col2 {
  grid-row: span 2;
  grid-column: span 2;
  position: relative;
}
.main .row1_col2 {
  grid-row: span 1;
  grid-column: span 2;
  position: relative;
}
.main .row1_col1 {
  grid-row: span 1;
  grid-column: span 1;
  position: relative;
}
.header .navigator {
  float: right;
  text-align: right;
}
ul {
    padding: 0px;
    margin: 0px;
}
.header .navigator .navi_main {
  margin-right: 20px;
  padding: 8px;
}
.header .navigator .navi_main li {
  color: white;
  display: inline;
  font-size: 20px;
}
.header .navigator .navi_main li:not(:first-child) {
  border-left-color: white;
  border-left-width: 1px;
  border-left-style: solid;
}
/*.header .navigator .navi_main li:not(:first-child):before {
  content: "";
  background-color: white;
  float: left;
  display: inline;
  width: 2px;
}*/

.header .navigator .navi_sub {
  margin-right: 5px;
  margin-top: 20px;
  padding: 6px;
  background: #555;
}
.header .navigator .navi_sub li {
  color: white;
  display: inline;
  font-size: 14px;
  padding-left: 9px;
  padding-right: 8px;
}
.header .navigator .navi_sub li:not(:first-child) {
  border-left-color: white;
  border-left-width: 1px;
  border-left-style: solid;
}
img {
  width: 100%;
  height: 100%;
}
.video {
  width: 100%;
}
.nasa_events {
  color: white;
  background: #39719e;
  position: relative;
}
.events_top {
  border-bottom-width: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
}
.events_bot {
  position: absolute;
  width: 100%;
  bottom: 0px;
  border-top-color: white;
  border-top-width: 1px;
  border-top-style: solid;
}
.events_bot .left {
  float: left;
}
.events_bot .right {
  float: right;
}
.main div {
  overflow: hidden;
}
.content_bot {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.tag {
  background: #39719e;
  color: #fff;
  opacity: 0.8;
  display: inline-grid;
  padding: 8px;
}
.abstract {
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.8;
  padding: 8px;
}
.main .extend_btn {
  grid-column: span 4;
}
.main .extend_btn button {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #15418c;
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
  border: 0px;
  padding: 0px;
}
.footer {
  position: relative;
  top: 134px;
}
.footer .logo {
  width: 110px;
  margin: 11px;
  float: left;
}
.footer .statement {
  position: relative;
  color: #fff;
}
/*.footer .statement p {
  color: white;
}*/

.footer .links {
  float: right;
  margin-top: 40px;
}
.footer .links ul li {
  display: inline;
  color: #5d7fb9;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
}